@import url(./root.css);
.App {
  text-align: center;
  background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.currentMove{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: rgb(16, 42, 73);
  width: 320px;
  height: 90px;
  margin: 10px;
  border-radius:20px ;
  color: #FFC200;
  transition: all ease 0.5s;
}